.cards{
    width:60rem;
    margin-left: 4rem;
    position: relative;
    background-color: white;
    height: 40rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px hsl(229, 6%, 66%);
}
.cards__heading{
    padding: 10px 10px;
    font-size:3.6rem;
    font-weight: 600;
    color:hsl(234, 12%, 34%);
}
.cards__description{
    color: hsl(229, 6%, 66%);
    padding: 0px 10px;
    font-size: 1rem;
    width:50rem;
    
}
.image{
    width: 12rem;  
    position:absolute;
    bottom: 2rem;
    right: 4rem;
    
}
.image img{
    width: 12rem;   
}